[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=brave-browser "%s"
Icon=brave-browser
Name=brave-browser
X-XFCE-Commands=brave-browser