name: kea build
on:
  workflow_dispatch:
  schedule:
  - cron: "0 14 * * 1"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  TARGET: kea
  GITHUB_TAG: Kea-3.1.5 # isc-projects/kea
  STROK_GITHUB_TAG: v2.3.2 # isc-projects/stork
  IMAGE_RELEASE: 3.22

jobs:
  build:
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: ghcr.io/osscontainertools/kaniko:v1.26.4-debug@sha256:dddd2b776303620f0dc7962f16461ac764515f6b4648586e2bd8ac7e48d69b50
    permissions:
      contents: read
      packages: write
    steps:
    - name: Build and release container
      run: |
        set -e
        cat > $DOCKER_CONFIG/config.json <<EOF
        {
          "auths": {
            "ghcr.io": {
              "auth": "$(echo -n ${{ github.repository_owner }}:${{ secrets.GITHUB_TOKEN }} | base64 -w0)"
            }
          }
        }
        EOF
        echo -e "$INTERNAL_CA_CERT" > $DOCKER_CONFIG/internal.crt

        executor \
          --context-sub-path="$TARGET" \
          --dockerfile="./Containerfile" \
          --context="${{ github.repositoryUrl }}#${{ github.ref }}#${{ github.sha }}" \
          --destination="ghcr.io/${{ github.repository_owner }}/${{ env.TARGET }}:v$(echo $GITHUB_TAG | sed 's/Kea-//')" \
          --registry-certificate=$INTERNAL_REGISTRY=$DOCKER_CONFIG/internal.crt \
          --build-arg KEA_VERSION=$(echo $GITHUB_TAG | sed 's/Kea-//') \
          --build-arg STORK_VERSION=$(echo $STROK_GITHUB_TAG | tr -d 'v') \
          --build-arg IMAGE_RELEASE="$IMAGE_RELEASE" \
          --use-new-run \
          --skip-unused-stages \
          --snapshot-mode=redo \
          --cleanup \
          --image-download-retry=4 \
          --image-fs-extract-retry=4 \
          --push-retry=4
  cleanup:
    needs:
    - build
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: docker.io/node:current-alpine@sha256:acfc3a236fc526e7bd83a851aab4bc6908cdeeaee24fe50c38c7c546553df5f5
    permissions:
      packages: write
    steps:
    - name: Remove old container images
      uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5
      with:
        package-name: ${{ env.TARGET }}
        package-type: container
        min-versions-to-keep: 4
        ignore-versions: latest
        token: ${{ secrets.GITHUB_TOKEN }}