name: llama-cpp-rocm build
on:
  workflow_dispatch:
  schedule:
  - cron: "0 14 * * 1"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  TARGET: llama-cpp-rocm
  GITHUB_RELEASE: b7972 # ggml-org/llama.cpp
  DRIVER_GITHUB_RELEASE: rocm-7.2.0 # ROCm/ROCm
  ROCM_DOCKER_ARCH: gfx1151

jobs:
  build:
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: ghcr.io/osscontainertools/kaniko:v1.26.5-debug@sha256:e402135385d718516d6f9b45c412d79108e320b3f1147784c5514ef151300d43
    permissions:
      contents: read
    steps:
    - name: Build and release container
      run: |
        set -e
        ROCM_VERSION=$(echo $DRIVER_GITHUB_RELEASE | sed -r 's/rocm-([0-9]+\.[0-9]+).*/\1/')

        cat > $DOCKER_CONFIG/config.json <<EOF
        {
          "auths": {
            "ghcr.io": {
              "auth": "$(echo -n ${{ github.repository_owner }}:${{ secrets.GITHUB_TOKEN }} | base64 -w0)"
            }
          }
        }
        EOF
        echo -e "$INTERNAL_CA_CERT" > $DOCKER_CONFIG/internal.crt

        executor \
          --dockerfile="./.devops/rocm.Dockerfile" \
          --context="git://github.com/ggml-org/llama.cpp.git#$GITHUB_RELEASE" \
          --destination="$INTERNAL_REGISTRY/${{ github.repository_owner }}/${{ env.TARGET }}:v$(echo $GITHUB_RELEASE | tr -d 'b')-rocm$ROCM_VERSION" \
          --registry-certificate=$INTERNAL_REGISTRY=$DOCKER_CONFIG/internal.crt \
          --build-arg AMDGPU_VERSION=$ROCM_VERSION \
          --build-arg ROCM_VERSION=$ROCM_VERSION \
          --build-arg ROCM_DOCKER_ARCH=$ROCM_DOCKER_ARCH \
          --use-new-run \
          --skip-unused-stages \
          --snapshot-mode=redo \
          --cleanup \
          --image-download-retry=4 \
          --image-fs-extract-retry=4 \
          --push-retry=4 \
          --target=server
  cleanup:
    needs:
    - build
    env:
      TAGS_KEEP: 4
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: ghcr.io/regclient/regctl:alpine@sha256:7c14db799739547badbab4e733c8e9fa2c15251505c3c28e3a288f6054890a0b
    steps:
    - name: Remove old tags
      run: |
        set -e
        tags=$(mktemp)
        repo=$INTERNAL_REGISTRY/${{ github.repository_owner }}/${{ env.TARGET }}
        regctl registry set $INTERNAL_REGISTRY --tls enabled --cacert "$INTERNAL_CA_CERT"

        for tag in $(regctl tag ls $repo --exclude latest); do
          regctl image config $repo:$tag --format "{{ printf \"$tag|%d\\n\" .Created.Unix }}" >> $tags
        done
        for tag in $(sort -k2 -t "|" -n $tags | head -n -$TAGS_KEEP); do
          regctl tag delete --ignore-missing $repo:$(echo $tag | cut -d "|" -f 1)
        done